<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>My List View</title>
</head>
<body>
<h3>ListView</h3>
<ul>
    {% for post in object_list %}
        <li>{{ post.titulo }}</li>
        <p> {{ post.contenido | truncatewords:4  }}</p>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
    </span>
</div>

</body>
</html>