{% extends 'base.html' %}
{% block content%}
<h1 class="text-center mb-3"> Poll Questions</h1>
    <ul>
    {% for object in object_list %}
        <div class="card mb-3">
                <div class="card-body">
                    <p class="lead">{{object.question_text}}</p>
                    <a href="{% url 'polls:detail' object.id %}" class="btn btn-primary btn-sm">Vote Now</a>
                    <a href="{% url 'polls:results' object.id %}" class="btn btn-secondary btn-sm">Results</a>
                </div>
        </div>
        {% empty %}
        <p>No polls available.</p>
    {% endfor %}
    </ul>
{% endblock %}