{% extends 'ProyectoWebApp/base.html' %}
{% load static %}
{% if messages %}
{% endif %}
{% block content %}
    <div class="messages" >
        {% for message in messages %}
        <li {% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </div>
    <div  class="contenedorFormulario" align="center">
        <form action="" method="POST">
            {% csrf_token %}
            <table style="color: white; margin: 20px">
            {{form.as_table}}
            </table>
            <input type="submit" value="Enviar" style="width: 120px"/>
        </form>
    </div>
{% endblock%}
